<!doctype html>
<html lang="en" ng-app="DemoApp">
<head>
  <!-- basic configurations -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <!-- Libraries and modules needed to normal operation of the webapp-->
  <script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>

  <!-- Imports of the scripts to operation of firebase with angularjs-->
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>

  <!-- Javascript script in charge of the capture of firebase data, then this script
  store the data in a scope array ($scope.registros)-->
  <script type="text/javascript">

  // We create the angular module and import de firebase module
  var myApp = angular.module('DemoApp', ['firebase']);

  // URL database of our firebase project
  var urlDataBase = "https://url-firebase-project.firebaseio.com/";
  function DemoCtrl($scope, $firebase) {

    // We obtain the file registers.json stored in firebase database
    $scope.firebaseRef = new Firebase(urlDataBase + "logs");

    // The registers of registers.json are stored in array $scope.registers.
    $scope.registers = $firebase($scope.firebaseRef);
    
    // Change the boolean value to turn on or turn off the led
    $scope.switchLed = function(){
      $scope.firebaseLed = new Firebase(urlDataBase + "statusLed");
      var statusLed;
      
      // Take a snapshot to the statusLed value
      $scope.firebaseLed.on("value", function(snapshot) {
        statusLed = snapshot.val();
        console.log("valor de statusLed:" + statusLed);
      }, function (errorObject) {
        console.log("The read failed: " + errorObject.code);
      });

     $scope.firebaseLed.set(!statusLed);
    }
  }

  </script>
</head>

<body class="container">
  <h2>Arduino YUN, Firebase and CURL</h2>
  <div ng-controller="DemoCtrl"
  class="form-inline panel panel-default">
  <div class="panel-body">
	<button ng-click="switchLed()" value="On">On/Off Led</button>
    <ul ng-repeat="register in registers">
      <li><h3>{{register}}</h3></li>
    </ul>
  </div>
</div>

</body>
</html>